<!DOCTYPE html>
<html>
<head>
  <title>Lux, Rails and ruote</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <%= link_to 'flows', flows_path %>
  <% %w[ chris ezra john ].each do |r| %>
    <%= link_to "work/#{r}", work_path(r) %>
  <% end %>
</div>

<% if notice = flash[:notice] %>
  <div class="notice"><%= flash.notice %></div>
<% end %>

<%= yield %>
<%= debug(params)%>
</body>
</html>
